
    .center {
      margin: auto;
      width: 500px;
      height: 400px;
      border: 1px dashed #ddd;
      margin-top: 10%;
      position: relative;

    }

    .showimg {
      position: absolute;
      display: block;
    }

    /* p {
      line-height: 400px;
      position: absolute;
      text-align: center;
      width: 100%;
      height: 100%;
    } */

.iconfont{
  font-size: 24px;
}



.full-close{
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.7;
  color: #fff;
  border: 5px;
  background: #606266;
  z-index: 3000;
  border-radius: 50%;
  margin: 5px;
  width: 45px;
  height: 45px;
  line-height: 45px;
}

.full-close-other{
  cursor:pointer;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;vertical-align:baseline;display:inline-block;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
}

.message-box-close{
  cursor: pointer;position: absolute;right:35px;top:35px;font-size:25px;opacity: 0.5;border: 5px;z-index: 2000;
}
.message-box{
  position: relative;
  padding: 25px 0;
/* height:500px;background: #f5f7fa;box-shadow: 2px 2px 10px #06C;padding: 25px;opacity: 1; */

  display: inline-block;
  
  width: 500px;height: 500px;
  padding: 25px;
  padding-bottom: 10px;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ebeef5;
  font-size: 18px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  text-align: left;
  overflow: hidden;
  backface-visibility: hidden;
}



.form-textarea{
  font-family: inherit;
  display: block;
  resize: vertical;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  color: rgb(96, 98, 102);
  background-color: rgb(255, 255, 255);
  background-image: none;
  padding: 5px 15px;
  border-image: initial;
  border-radius: 4px;
  border: 1px solid #409eff;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  min-height: 83px;
}

.full-img-wrapper{
  z-index:2000;width:100%;height:100%;

}
.img-wrapper{
  display:flex;justify-content:center;align-items:center;width:100%;height:100%;
}
#img-full{
  z-index: 2000;
  position:fixed;top:0;right:0;left:0;bottom:0;
}



.maxWH{
  max-width: 95%;
  max-height: 95%;
}
.minWH{
  min-width: 95%;
  min-height: 95%;
}
#img-entity{
  position: absolute;
  display: block;
}

.img-full-background{
  position:absolute;width:100%;height:100%;top:0;left:0;opacity:.5;background:#000;}
.img-full-left{
  cursor:pointer;z-index:3000;position:absolute;left:40px;text-align:center;top:50%;transform:translateY(-50%);width:44px;height:44px;line-height: 44px;border-radius: 50%;font-size:24px;color:#fff;background-color:#606266;border-color:#fff;
}
.img-full-right{
  cursor:pointer;z-index:3000;position:absolute;right:40px;border-radius:50%;text-align:center;top:50%;transform:translateY(-50%);width:44px;height:44px;line-height: 44px;font-size:24px;color:#fff;background-color:#606266;border-color:#fff;
}


.fiexed-center{
  z-index: 1000; position: fixed; top: 50%; left: 50%; margin-left: -275px; margin-top: -275px;display:block
}

button{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.button-normal{
  padding: 9px 21px;
  font-size: 12px;
  border-radius: 3px;
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
.button-submit{
  float: right;
  margin: 30px -5px 0 0;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

label>span{
  font-size: 14px;
  padding-left: 5px;
}
h2{
  background: #fff !important;
  margin:15px 5px;
  font-weight: 400;
}
h4{
  margin:10px 5px;
  font-weight: 400;
}