@font-face {
  font-family: "custom-icon"; /* Project id 2346308 */
  src: url('css/admin/iconfont/iconfont.eot?t=1660460080800'); /* IE9 */
  src: url('css/admin/iconfont/iconfont.eot?t=1660460080800#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('css/admin/iconfont/iconfont.woff2?t=1660460080800') format('woff2'),
       url('css/admin/iconfont/iconfont.woff?t=1660460080800') format('woff'),
       url('css/admin/iconfont/iconfont.ttf?t=1660460080800') format('truetype'),
       url('css/admin/iconfont/iconfont.svg?t=1660460080800#custom-icon') format('svg');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-wenben:before {
  content: "\e60c";
}

.custom-icon-jiedianjiaoji:before {
  content: "\e6e8";
}

.custom-icon-chizi:before {
  content: "\e624";
}

.custom-icon-fenge:before {
  content: "\e646";
}

.custom-icon-icon-:before {
  content: "\e62c";
}

.custom-icon-shanchu:before {
  content: "\e606";
}

.custom-icon-xiangyouxuanzhuan:before {
  content: "\e66a";
}

.custom-icon-cachu:before {
  content: "\e72a";
}

.custom-icon-ziyuan:before {
  content: "\e61c";
}

.custom-icon-danhangwenben:before {
  content: "\e61d";
}

.custom-icon-bingji:before {
  content: "\e61b";
}

.custom-icon-huizhi-01:before {
  content: "\e6e1";
}

.custom-icon-jiaoji:before {
  content: "\e603";
}

.custom-icon-chaji:before {
  content: "\e607";
}

.custom-icon-yihuo:before {
  content: "\ede0";
}

.custom-icon-pilianghuizhi:before {
  content: "\ee22";
}

.custom-icon-xiangzuo1:before {
  content: "\e779";
}

.custom-icon-wuquangou_dingzhiyouhoutaibianji:before {
  content: "\e678";
}

.custom-icon-a-Frame3163:before {
  content: "\e612";
}

.custom-icon-shuaxin:before {
  content: "\e643";
}

.custom-icon-weibiaoti545:before {
  content: "\e636";
}

.custom-icon-shuxingbiao:before {
  content: "\ed9b";
}

.custom-icon-huabi:before {
  content: "\e601";
}

.custom-icon-zhijiao-triangle:before {
  content: "\e652";
}

.custom-icon-other:before {
  content: "\e634";
}

.custom-icon-chakan2:before {
  content: "\e605";
}

.custom-icon-yanjing:before {
  content: "\e8c7";
}

.custom-icon-shuxing:before {
  content: "\ee2a";
}

.custom-icon-shuxingguanli:before {
  content: "\e611";
}

.custom-icon-odbc-full:before {
  content: "\e93a";
}

.custom-icon-gongcheng:before {
  content: "\e610";
}

.custom-icon-shujukuxing:before {
  content: "\ed99";
}

.custom-icon-kongjiandili:before {
  content: "\e60a";
}

.custom-icon-gftuceng:before {
  content: "\e7cc";
}

.custom-icon-shpdaoru:before {
  content: "\ee23";
}

.custom-icon-caidan:before {
  content: "\e650";
}

.custom-icon-caidanguanli:before {
  content: "\e658";
}

.custom-icon-dingwei2:before {
  content: "\e604";
}

.custom-icon-duigoux:before {
  content: "\ec9e";
}

.custom-icon-guanbi:before {
  content: "\eca0";
}

.custom-icon-aixin_shixin:before {
  content: "\eca1";
}

.custom-icon-aixin1:before {
  content: "\eca2";
}

.custom-icon-shexiangtou_guanbi:before {
  content: "\eca7";
}

.custom-icon-shexiangtou:before {
  content: "\eca8";
}

.custom-icon-shengyin_shiti:before {
  content: "\eca9";
}

.custom-icon-shengyinkai:before {
  content: "\ecaa";
}

.custom-icon-shoucang_shixin:before {
  content: "\ecab";
}

.custom-icon-shoucang:before {
  content: "\ecac";
}

.custom-icon-shengyinwu:before {
  content: "\ecad";
}

.custom-icon-shengyinjingyin:before {
  content: "\ecae";
}

.custom-icon-luyin:before {
  content: "\e616";
}

.custom-icon-sousuo:before {
  content: "\e62f";
}

.custom-icon-iconzhengli_tiaozhuan:before {
  content: "\e648";
}

.custom-icon-tianjia_huaban:before {
  content: "\e619";
}

.custom-icon-htmal5icon11:before {
  content: "\e631";
}

.custom-icon-tupiantianjia:before {
  content: "\ec7d";
}

.custom-icon-charutupian:before {
  content: "\ec7f";
}

.custom-icon-shexiangtou_shiti:before {
  content: "\eca5";
}

.custom-icon-luyin1:before {
  content: "\e60b";
}

.custom-icon-buoumaotubiao23:before {
  content: "\e615";
}

.custom-icon-left-layer:before {
  content: "\e632";
}

.custom-icon-tuceng:before {
  content: "\e63b";
}

.custom-icon-dingwei:before {
  content: "\e64f";
}

.custom-icon-dingwei1:before {
  content: "\e608";
}

.custom-icon-83dingwei:before {
  content: "\e633";
}

.custom-icon-tuceng1:before {
  content: "\e60f";
}

.custom-icon-aixin:before {
  content: "\e8ab";
}

.custom-icon-liebiao:before {
  content: "\e60d";
}

.custom-icon-mimabeifen2:before {
  content: "\e635";
}

.custom-icon-caidanbeifen2:before {
  content: "\e62a";
}

.custom-icon-shanchubeifen2:before {
  content: "\e62b";
}

